* {
  margin: 0px;
  padding: 0px;  
}

header {
  background-color:rgb(241, 244, 245);
  display: flex;
  justify-content: space-between;
  height: 64px;
  line-height: 64px;
  
}

.title {
  padding-left: 100px;
  font-size: 24px;
  opacity: 0.5;
}

.menu-group {
  display: flex;
  
}

.menu-item {
  list-style: none;
  padding-right: 50px;
  
}
.menu-item a {
  color: rgb(0, 0, 238);
  text-decoration: none;
}

#test-data-btn {
  color: rgb(73, 72, 72);
  width: 136px;
  height: 40px;
  background-color: rgba(179, 221, 245, 0.5);
  border-color: rgba(0,14,0,0.2);
  border-width: 1px;
  border-radius: 2px;
  font-weight: bold;
  margin: 0px;
}

#test-data-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.sidebar {
  width: 320px;
  margin: 8px;
  height: 664px;
  border: 1px solid;
  border-radius: 10px;
  color: rgba(0,14,0,0.2);
}

.sideMenu {
  margin-left: 40px ;
  color: black;
}

.side-title {
  font-weight: bold;
  margin: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
  line-height: 32px;
}

hr {
  margin: 24px 0px;
  height: 1px;
  background-color: rgba(0,14,0,0.2);
  border: none;
}

.item-price {
  display: flex;
  align-items: flex-end;
}

.item-price p {
  margin-left: 2px;
}

input#max-price,
input#min-price {
  width: 86px;
  height: 36px;
  font-size: 16px;
}

.space {
  margin: 0px 2px;
}

button {
  width: 236px;
  height: 36px; 
  margin: 16px 0px;
}

#input-word {
  font-size: 16px;
}

.detail {
  width: 236px;
  height: 36px; 
}

.container {
  display: flex;
}

main {
  flex: 1;
  width: auto;
  margin: 8px 8px 8px 0px;
  min-height: 800px;
  border: 1px solid;
  border-radius: 10px;
  color: rgba(0,14,0,0.2);
}

.item-display-Count {
  color: black;
  margin-left: 96px;
}
.item-display-Count label {
  margin-top: 8px;
  margin-bottom: 0px;
}

#display-Count {
  height: 32px;
  width: 64px;
  font-size: 16px;
}

#list-table {
  border: 1px solid;
  margin: 16px auto 8px;
  border-radius: 10px;
}

.item-thead {
  padding-top: 32px;
  padding-left: 24px;
  padding-bottom: 16px;
}

th,td {
  color: black;
  padding: 0px 16px;
  line-height: 10px; 
}

tbody tr {
  text-align: center;
}

#noItem-message {
  color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 24px;
}

#item-list a {
  color: rgb(0, 0, 238);
  text-decoration: none;
}

#item-list button {
  width: 50px;
  margin-left: 8px;
}

#paginaiton {
  display: flex;
  list-style: none;
  justify-content: center;
}

#paginaiton button {
  width: 40px;
  margin-left: 8px;
  border-radius: 5px;
  border-width: 1px;
}

.active {
  background-color: rgba(127, 202, 245, 0.5);
  border-width: thin;
  border-color: rgb(73, 72, 72);
}

footer {
  background-color:rgb(241, 244, 245);
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.copyright {
  font-size: 16px;
  opacity: 0.5;
}